#Este modulo es obligatorio activarlo en linux a traves del comando
#"sudo a2enmod rewrite"

# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteBase /

#     # Si el archivo o directorio existe, no reescribir
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteCond %{REQUEST_FILENAME} !-d

#     # Reescribir todo hacia index.php
#     RewriteRule ^(.+)$ index.php?ruta=$1 [QSA,L]
# </IfModule>