/* ======================= */
.main__inicio {
    position: relative;
    background-color: var(--blanco);
    z-index: 3;
    width: 100vw;
}

/* ======================= */
/* Seccion del Banner */
.banner {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--azul);
    z-index: 0;
    overflow: hidden;
}

.banner__titulo {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    font-family: var(--fuente-titulos);
    letter-spacing: 1rem;
    font-weight: bold;
    color: var(--blanco);
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 1));
}

.banner__boton-contenedor {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    left: 0;
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 1));
    z-index: 2;
}

.banner__boton-contenedor > svg {
    transform: translateY(2px);
    width: 100%;
    height: auto;
}

.banner__boton-link {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    background-color: var(--azul);
    color: var(--blanco);
    font-size: 1.2rem;
    padding-bottom: 0.2rem;
}

.banner__boton-link > svg {
    width: 2rem;
    height: auto;
}

.banner__boton-link > svg > path {
    fill: var(--blanco);
}

.banner__imagen-contenedor {
    display: block;
    overflow: hidden;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: none;
    margin: 0;
}

.banner__imagen-contenedor::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 0) 75%,
        rgb(0, 0, 0) 100%
    );
    z-index: 1;
}

#banner__imagen {
    background-size: 100% 100%;
    position: fixed;
    margin: auto;
    min-width: calc(100% + 1px);
    min-height: calc(100% + 1px);
    overflow: hidden;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.1s ease;
    z-index: -1;
}

#banner__imagen.activo {
    opacity: 1;
}

/* ======================= */
/* Seccion de Historia */
.historia{
    display: flex;
    flex-direction: row;
    padding: 8rem 1.5rem;
    gap: 1.5rem;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}

.historia__contenido{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1.5rem;
    border-left:2px var(--azul) solid;
}

.historia__titulo{
    font-family: var(--fuente-titulos);
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--azul);
}

.historia__parrafo{
    width: 956px;
    height: 200px;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--negro);
}

/* ======================= */
/* Seccion de Carreras */
.carreras {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5rem 1.5rem;
    gap: 1.5rem;
    position: relative;
    flex-wrap: wrap;
    background-color: var(--azul);
}

.carreras__contenido {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1.5rem;
    border-left: 2px var(--blanco) solid;
}

.carreras__titulo {
    font-family: var(--fuente-titulos);
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--blanco);
}

.carreras__lista {
    display: flex;
    gap: 2.5rem;
    overflow-x: hidden;
    cursor: grab;
    user-select: none;
}

.carreras__lista.activado{
    cursor: grabbing;
}

/* Carrera componente */
.carrera {
    background-color: var(--blanco);
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    width: 100%;
}

.carrera__imagen {
    max-height: 12.5rem;
    object-fit: cover;
    pointer-events: none;
}

.carrera__imagen > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrera__contenido {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    gap: 1.5rem;
}

.carrera__contenedor-texto {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: auto;
}

.carrera__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--azul);
}

.carrera__descripcion {
    font-size: 1rem;
    color: var(--negro);
    line-height: 1.7rem;
}

.carrera__enlace {
    display: flex;
    padding: 0.3rem 0.5rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: var(--azul);
    color: var(--blanco);
    font-size: 1rem;
    font-weight: 700;
}

.carrera__enlace > svg {
    transform: rotate(-90deg);
}

.carrera__enlace > svg > path {
    fill: var(--blanco);
}

/* Botones */
.carreras__contenedor-botones {
    display: flex;
    width: fit-content;
    gap: 1.5rem;
    align-self: end;
}

.carreras__boton {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--blanco);
}

.carreras__boton > svg {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.carreras__boton > svg > path {
    fill: var(--azul); 
}

.carreras__boton--izquierda {
    transform: rotate(90deg);
}

.carreras__boton--derecha {
    transform: rotate(-90deg);
}

/* ======================= */
/* Seccion de Noticias */

.noticias{
    display: flex;
    flex-direction: row;
    padding: 6rem 1.5rem;
    gap: 1.5rem;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}

.noticias__contenido{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1.5rem;
    border-left:2px var(--azul) solid;
}

.noticias__titulo{
    font-family: var(--fuente-titulos);
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--azul);
}

.noticias__lista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 2rem;
    grid-auto-rows: 15rem;
}

.noticia {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.noticia__imagen {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.noticia__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.noticia__contenido {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 1rem;
    background-color: var(--azul);
    color: var(--blanco);
    font-weight: 400;
    font-size: 1.2rem;
}

.noticia__titulo{
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    color: var(--blanco);
}

.noticia:nth-child(1){
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.noticia:nth-child(2){
    grid-column-start: 3;
}

.noticia:nth-child(3){
    grid-column-start: 4;
}

.noticia:nth-child(4){
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}