@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --azul: #022873;
    --negro: #1f1f1f;
    --gris: #D3D9E7;
    --blanco: #F0F2F7;

    --fuente-principal: "Plus Jakarta Sans", sans-serif;
}
/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
    list-style-type: none;
}

html{
  position: relative;
  font-family: var(--fuente-principal);
  color:var(--negro);
}

body{
    background-color: var(--blanco);
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  line-height: 1.5;
}

a , li{
  list-style-type: none;
  text-decoration:none;
  text-decoration-skip-ink: auto;
  color: inherit;
}

button, input{
  font: inherit;
  background-color: transparent;
  border: none;
}

h1{
  font-size: 4rem;
  line-height: 1.2;
}

h2{
  font-size: 3rem;
  line-height: 1.2;
}

h3{
  font-size: 1.5rem;
}

/* MENU (UTILIZAR ESTA PARTE PARA TODAS LAS PÃGINAS) */
.logo-imagen,
.usuario-logo {
  width: auto;
  height: auto;
}

.logo-imagen > svg > path{
    fill: var(--blanco);
}

header {
    background-color: var(--azul);
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    filter: drop-shadow(0px 8px 10px rgba(31, 31, 31, 0.3));
    position: fixed;
    width: 100vw;
    z-index: 9999;
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
  display: flex;
  gap: 0.5rem;
}

.menu-item {
  position: relative;
}

.menu-item > a{
    padding: 1rem;
    background-color: var(--azul);
    display: flex;
    font-weight: 600;
    font-size:1rem;
    color:var(--blanco);
}

/* .menu-item.has-sub-menu > a {
  position: relative;
}

/* Ni idea */
/* .menu-item.has-sub-menu > a:after {
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: var(--blanco);
  font-size: 18px;
  font-weight: 500;
} */

.sub-menu{
    background-color: var(--blanco);
    display: flex;
    min-width: 10rem;
    width: max-content;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease;
}

.menu-item.has-sub-menu:hover > .sub-menu {
    opacity: 1;
    pointer-events: all;
}

.sub-menu-item > a{
    display: flex;
    font-size: 1rem;
    font-weight:600;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--gris);
}