@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Colores */
  --negro: #1f1f1f;
  --azul: #022873;
  --gris-claro: #D3D9E7;
  --gris-oscuro: #B5C0D6;
  --blanco: #F0F2F7;
  --blanco-claro: #fff;

  /* Medidas */
  --mid-size: 56rem;
  --max-size: 85rem;

  --font-size-tn: 10px;
  --font-size-sm: 12px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;

  --fuente-principal: "Plus Jakarta Sans", sans-serif;
  --fuente-titulos: "Jost", sans-serif;

  --font-size-principal: var(--font-size-tn);

  /* Máximos por sección */
  --max-size-nav: var(--mid-size);
  --max-size-footer: var(--mid-size);
  --max-size-main-general: var(--max-size);
  --max-size-seccion-general: var(--mid-size);
  --max-size-seccion-default: var(--max-size);
  --max-size-contactos: var(--max-size);
}

/* ======================= */
/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: var(--font-size-principal);
  font-family: var(--fuente-principal);
  color: var(--negro);
  position: relative;
}

body {
  background-color: var(--blanco);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 1.5;
}

a, li {
  text-decoration: none;
  color: inherit;
}

button, input {
  font: inherit;
  border: none;
  background: none;
}

section {
  max-width: var(--max-size-seccion-default);
  margin: auto;
}

img, picture, video, canvas, svg, figure {
  display: block;
  max-width: 100%;
  height: auto;
}

#main {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

/* ======================= */
/* Responsive Font Sizes */
@media (min-width: 480px) { :root { --font-size-principal: var(--font-size-sm); } }
@media (min-width: 768px) { :root { --font-size-principal: var(--font-size-md); } }
@media (min-width: 1280px) { :root { --font-size-principal: var(--font-size-lg); } }
@media (min-width: 1600px) { :root { --font-size-principal: var(--font-size-xl); } }