@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    
    --negro: #1f1f1f;
    --azul: #022873;
    --gris-claro: #D3D9E7;
    --gris-oscuro: #B5C0D6;
    --blanco: #F0F2F7;

    --fuente-principal: "Plus Jakarta Sans", sans-serif;
    --fuente-titulos: "Jost", sans-serif;
}
/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
}

html{
  position: relative;
  font-family: var(--fuente-principal);
  color:var(--negro);
}

body{
  background-color: var(--blanco);
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  line-height: 1.5;
}

a , li{
  list-style-type: none;
  text-decoration:none;
  text-decoration-skip-ink: auto;
  color: inherit;
}

button, input{
  font: inherit;
  background-color: transparent;
  border: none;
}

section{
  max-width: 1366px;
  margin: auto;
}

figure, img, picture {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: none;
    margin: 0;
}

.main_contenedor{
  width: 100vw;
}